# Java
*.class
*.jar
*.war
*.ear

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
.settings/
.classpath
.project

# IntelliJ
.idea/
*.iml
*.iws
out/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db
